.App{
    width: 100vw;
    height: 100vw;
    background-image: white
}

.App-header{
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
}

.opcoes{
    display: flex;
    font-size: 16px;
    font-family: 'Inter Tight', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 120px;
    padding: 0 5px;
    height: 100%;
    cursor: pointer;
}

.opcao{
    display: flex;
}

li{
    list-style: none;
}

.icones{
    display: flex;
    align-items: center;
}

.icone{
    margin-right: 40px;
    width: 25px;
    cursor: pointer;
}